.disciplina-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
}

.disciplina-container img {
    border-radius: 20px;
}

.semestre-container {
    display: flex;
    flex-direction: column;
    margin: 30px;
    justify-content: space-around;
}